.idea/.gitignore
.idea/kanban.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
kanban-api/node_modules/
kanban-api/tmp/uploads/*
kanban-service/node_modules/
/kanban-vue/.env
